@import 'body'; 

.test1 {
    border: 1px solid #f00;
    background: #fdd;
    width: 100px;
    height: 100px;
  }
  
  .test2 {
    @extend .test1;
    border: 3px solid #000;
  }

  .test3{
    color: blue;
}